@model DataLayer.Entities.DrinkWithAvailability

<tr id="@Model.Drink.Id tr">
    <th scope="row">@Model.Drink.Id</th>
    <td id="drinkName">@Model.Drink.Name</td>
    <td id="drinkAmount">@Model.DrinkAvailability.Amount</td>
    <td id="drinkCost">@Model.Drink.Cost</td>
    <td class="text-right"><button type="button" id="@Model.Drink.Id editBtn" class="btn btn-warning" onclick="startEditingDrink(this)">Редактировать</button><button type="button" id="@Model.Drink.Id deleteBtn" class="btn btn-danger" onclick="removeDrink(this)">Удалить</button></td>
</tr>
