@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var Coiner1Styler   = ViewBag.IsOneCoinAllowed  ? "btn-danger" : "btn-success";
    var Coiner2Styler   = ViewBag.IsTwoCoinAllowed  ? "btn-danger" : "btn-success";
    var Coiner5Styler   = ViewBag.IsFiveCoinAllowed ? "btn-danger" : "btn-success";
    var Coiner10Styler  = ViewBag.IsTenCoinAllowed  ? "btn-danger" : "btn-success";

    var Coiner1Inner    = ViewBag.IsOneCoinAllowed  ? "Запретить монеты номиналом 1"    : "Разрешить монеты номиналом 1";
    var Coiner2Inner    = ViewBag.IsTwoCoinAllowed  ? "Запретить монеты номиналом 2"    : "Разрешить монеты номиналом 2";
    var Coiner5Inner    = ViewBag.IsFiveCoinAllowed ? "Запретить монеты номиналом 5"    : "Разрешить монеты номиналом 5";
    var Coiner10Inner   = ViewBag.IsTenCoinAllowed  ? "Запретить монеты номиналом 10"   : "Разрешить монеты номиналом 10";
}

@model List<DataLayer.Entities.DrinkWithAvailability>
<br />
<br />
<div class="text-center">
    <h1>Добро пожаловать.</h1>
    <h2>Что мы изменим сегодня?</h2>
</div>
<br/>
<br/>
<div id="btn-group">
    
    <button type="button" id="1CoinerBtn" class="btn @Coiner1Styler" onclick="toggleCoin(this)">@Coiner1Inner</button>
    <button type="button" id="2CoinerBtn" class="btn @Coiner2Styler" onclick="toggleCoin(this)">@Coiner2Inner</button>
    <button type="button" id="5CoinerBtn" class="btn @Coiner5Styler" onclick="toggleCoin(this)">@Coiner5Inner</button>
    <button type="button" id="10CoinerBtn" class="btn @Coiner10Styler" onclick="toggleCoin(this)">@Coiner10Inner</button>
</div>
<br />
<br />
<h4>Напитки</h4>
<br />
<div class="col-md-auto border border-primary" style="padding: 20px; overflow: hidden;">
    <h4>Новый напиток</h4>
    <input type="text" size="40" id="drinkNameTb" placeholder="Введите название" style="width: 200px">
    <input type="number" size="40" id="drinkAmountTb" placeholder="Введите количество" style="width: 200px">
    <input type="number" size="40" id="drinkCostNum" placeholder="Введите цену" style="width: 200px">
    <input type="checkbox" id="drinkAvailabilityCb" name="drinkAv">
    <label for="drinkAv">Напиток доступен?</label><br>
    <button class="btn btn-success" onclick="saveDrinkChanges(this)" id="changeBtn">Добавить</button>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            @Html.Partial("_addDrink", item);
        }
    </tbody>
</table>
<script src="~/js/adminPage.js" asp-append-version="true"></script>
